*/
:root {
    --cor-principal: #1e4620;
    --cor-fundo: #052908;
    --cor-texto-branco: #ffffff;
    --cor-texto-cinza: #b3b3b3;
    --cor-sucesso: #28a745;
    --cor-alerta: #dc3545;
    --cor-acao: #0d6efd;
    --cor-aviso: #ffc107;
}

/* Estilo base para a página inteira */
body {
    font-family: Arial, sans-serif; /* Fonte padrão e segura */
    margin: 0;                     /* Remove margens padrão do navegador */
    background-color: var(--cor-fundo);
    color: var(--cor-texto-branco);
    /* 'display: flex' é o que coloca a barra lateral e o conteúdo lado a lado */
    display: flex;
}


/* --- Barra Lateral Fixa --- */
.barra-lateral {
    width: 250px;                  /* Largura fixa */
    height: 100vh;                 /* 100% da altura da tela */
    background-color: var(--cor-principal);
    padding: 2rem 1.5rem;
    box-sizing: border-box;       
    display: flex;
    flex-direction: column;        
    position: fixed;               /* Fica fixa na tela mesmo com rolagem */
}

/* Cabeçalho da barra lateral */
.cabecalho-lateral {
    text-align: center;
    margin-bottom: 2rem;
}
